{% extends "base.html" %}
{% block title %}Import books{% endblock %}
{% block content %}
<form class="row row-cols-lg-auto" method="POST", action="{{ url_for('general.import_books') }}">
  <div class="col-md-2 form-group">
    <label class="visually-hidden">Search query</label>
    <input type="text" class="form-control" name="q" placeholder="Search query" required>
  </div>
<!--  <div class="col-md-2 form-group">-->
<!--    <label class="form-label">Title</label>-->
<!--    <input type="text" class="form-control" name="intitle">-->
<!--  </div>-->
<!--  <div class="col-md-2 form-group">-->
<!--    <label class="form-label">Author</label>-->
<!--    <input type="text" class="form-control" name="inauthor">-->
<!--  </div>-->
<!--  <div class="col-md-2 form-group">-->
<!--    <label class="form-label">Publisher</label>-->
<!--    <input type="text" class="form-control" name="inpublisher">-->
<!--  </div>-->
<!--  <div class="col-md-2 form-group">-->
<!--    <label class="form-label">Subject</label>-->
<!--    <input type="text" class="form-control" name="subject">-->
<!--  </div>-->
<!--  <div class="col-md-2 form-group">-->
<!--    <label class="form-label">ISBN</label>-->
<!--    <input type="text" class="form-control" name="isbn">-->
<!--  </div>-->
<!--  <div class="col-md-2 form-group">-->
<!--    <label class="form-label">Library of Congress Control Number</label>-->
<!--    <input type="text" class="form-control" name="lccn">-->
<!--  </div>-->
<!--  <div class="col-md-2 form-group">-->
<!--    <label class="form-label">Online Computer Library Center Number</label>-->
<!--    <input type="text" class="form-control" name="oclc">-->
<!--  </div>-->
  <div class="col-12">
    <button class="btn btn-secondary" type="submit">Import books</button>
  </div>
</form>
{% endblock %}