{% extends "base.html" %}
{% block title %}Import books{% endblock %}
{% block content %}
<form class="row row-cols-lg-auto" method="POST", action="{{ url_for('general.import_books') }}">
  <div class="col-md-2 form-group">
    <label class="visually-hidden">Search query</label>
    <input type="text" class="form-control" name="q" placeholder="Search query" required>
  </div>
  <div class="col-12">
    <button class="btn btn-secondary" type="submit">Import books</button>
  </div>
</form>
{% endblock %}